@import './variables/variable.scss';
.description{
    margin-top: 65px;
    padding: 25px;
    .section{
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 1px 1px 13px #0000002e;
        
    }
    i{
        background-color: #d00b41;
        height: max-content;
        color: white;
        padding: 4px 8px;
        font-size: 22px;
        border-radius: 6px;
        margin-right: 9px;
        svg{
            position: relative;
            bottom: 2.5px;
        }
    }
    h4{
        font-family: $font-sora;
        color: #707070;
        font-weight: bold;
    }
    p{
        font-family: $font-sora;
        color: #707070;
        font-weight: 300;
        font-size: 16px;
    }
    h2{
        font-family: $font-sora;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}