@import './variables/variable.scss';
body{
    background-color: #f5f5f5;
}
header{
    padding: 10px 5px ;
    .logo {
        display: flex;
        align-items: center;
        .ram {
            border-right: $border-primary;
            margin-right: 2%;
        }
        .ram img{
            width: 100px;
        }
        .one-world img {
            width: 50px;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        font-family: $font-sora;
        .btn-sign-in{
            background-color: $color-primary;
            color: white;
           i{
                margin-right: 5px;
                font-size: 21px;
                position: relative;
                bottom: 1px;
           }
        }

  
    }
 
}
