.sliderDelay {
  width: 70%;
  position: relative;
  height: 500px;
  display: block;
  margin: auto;
  margin-top: 30px !important;
  .rail {
    height: 4px;
    background-color: #cf889b;
    position: absolute;
    width: 100%;
    i{
      position: absolute;
      top: -21px;
    }
    .left{
      left: -30px;
    }
    .right{
      right: -31px;

    }
  }
  .stepContainer {
    height: 4px;
    position: absolute;
    background-color: #d00b41;
    display: flex;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    svg {
      position: absolute;
      right: 0;
      bottom: -13px;
      width: 5px;
      height: 30px;
    }
  }
  .step {
    width: 0px;
    position: relative;
    svg {
      width: 3px;
      height: 30px;
      position: relative;
      bottom: 13px;
      right: 14.5px;
    }
    span{
      width: max-content;
      display: inline-flex;
      position: absolute;
      left: -22px;
    }
    button{
      margin: 0;
      background-color: transparent;
      padding: 0;
      border:none;
      height: max-content;
      width: 25px;
      
    }
  }

}

@media screen and (max-width: 300px) {
}
@media screen and (min-width: 300px) and (max-width: 430px) {
}
@media screen and (min-width: 430px) and (max-width: 768px) {
}
@media screen and (min-width: 768px) and (max-width: 992px) {
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
}
@media screen and (min-width: 1200px) {
  .App {
    padding-left: 80px;
    padding-right: 80px;
  }
}
